In [ ]:
What is Python?
 Python is simple & easy
 Free & Open Source
 High Level Language
 Developed by Guido van Rossum
 Portable
 Ap

# Our first program

In [1]:
print("Hello World")

Hello World

In [6]:
# print name
print("mann bhasariya")
print("jay bhasariya")
print("mamta bhasariya")
print("kamlesh bhasariya")

mann bhasariya
jay bhasariya
mamta bhasariya
kamlesh bhasariya

In [3]:
print("mann : My age is age : 22")

mann : My age is age : 22

In [4]:
print("mann","bhasariya")

mann bhasariya

<h3>\n</h3>

In [7]:
print("mann""\n""bhasariya")

mann
bhasariya

In [11]:
print("jay""\n""bhasariya")

jay
bhasariya

<h3>print Numbers</h3>

In [15]:
print(22)
#----------
print(12)
print(10)
#--------
print(12+10)

22
12
10
22

In [ ]:
print(10)

In [ ]:
# python character set

In [ ]:
Python Character Set
 Letters – A to Z, a to z
 Digits – 0 to 9
 Special Symbols - + - * / etc.
 Whitespaces – Blank Space, tab, carriage return, newline, formfeed
 Other characters – Python can process all ASCII and Unicode characters as part of data or literals

# Variables

In [ ]:
## A variable is a name given to a memory location in a program.

In [12]:
#Memory

name = "Jay shree ram"  #String
name1 = "mann"          #String      #name1 <-- variables name   ,,  # mann <-- variable value
age = 22                 #integer #int
price = 25.99           #float

print(name)
print("name is : ",name1)
print("age is : ",age)
print(price)

Jay shree ram
name is :  mann
age is :  22
25.99

In [13]:
#Ex
age = 22            #age <-- variables name   ,,  #22 <-- variable value
age2 = age

print(age)

22

<h3>Rules for Identifiers</h3>

In [ ]:
#* Rules for Naming an Identifier**

#* Identifiers cannot be a keyword.
#* Identifiers are case-sensitive.
#* It can have a sequence of letters and digits. ...
#* It's a convention to start an identifier with a letter rather _ .
#* Whitespaces are not allowed.
#* We cannot use special symbols like !, @, #, $, and so on.
# Idenrifier can be of any lenght.

In [ ]:
In Python, identifiers are names used to identify variables, functions, classes, modules, or any other object. They have to follow certain rules:

Valid Characters: Identifiers can contain letters (both uppercase and lowercase), digits, and underscores.

Must start with a letter or underscore: They cannot start with a digit.

Case-sensitive: Python is case-sensitive, meaning var, Var, and VAR are all different identifiers.

Reserved Words: You cannot use reserved words as identifiers. For example, you can't name your variable for or if, as these are reserved for language syntax.

Here's an example demonstrating valid and invalid identifiers:

# Valid identifiers

In [ ]:
# Valid identifiers

variable_name = 42
myVar = "hello"
_underscore_variable = [1, 2, 3]

# Invalid identifiers

In [ ]:
# Invalid identifiers

3variable = 10  # Can't start with a digit
my-variable = 5  # Hyphens are not allowed
for = "loop"  # Can't use reserved words

<h3>Type of Variable</h3>

In [14]:
name1 = "mann"         
age = 22                
price = 25.99 
car = 'neno'

print(type(name))
print(type(age))
print(type(price))
print(type(car))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

# Data Types

<h2>1.Integers </h2> #+ve, -ve, 0

In [16]:
age1  = 22  # (+)
age2  = -22  # (-)
age3  = 0  # (0)

print(age1)
print(age2)
print(age3)

22
-22
0

<h2>2.String </h2>   #"String",  'String'  , """String"""

In [17]:
String1 = "mann"
String2 = 'mann'
String3 = """mann"""

print(String1)
print(String2)
print(String3)

mann
mann
mann

<h2>Float</h2>

In [18]:
price1 = 3.91
price2 = 2.5
price3 = 9.0

print(price1)
print(price2)
print(price3)

3.91
2.5
9.0

<h2>4.Boolean</h2>

<h2>True</h2>      

<h2>False</h2>

In [22]:
age = 22
old = False
yung = True

print(type(old))
print(type(yung))

<class 'bool'>
<class 'bool'>

<h2>5.None</h2>

In [23]:
a = None

print(a)

None

# eywords

<h3>Keywords are reserved words in python.</h3>
 
 <h3>alse should be uppercase</h3>

In [ ]:
Some common Python keywords include 
if,      else,    for,     while,         def,      class,      True, 
False,   None,    and,     or,            not,      import,     from,
as,      try,     except,  finally,       global,   nonlocal,
return,  yield,   break,   and continue, 

among others.

# Python is case-sensitive

In [25]:
Age = 7
age = 5
AGE = 9

print(age)
print(AGE)
print(Age)

5
9
7

<h3>Print Sum of num</h3>

In [45]:
#addtions
a = int(input("a : " ))
b = int(input("b : "))
 
sum = a + b

print("sum : ", sum)

a :  3
b :  4

sum :  7

In [46]:
# Subtriction
a = int(input("a : " ))
b = int(input("b : "))
 
sum = a - b

print("sum : ", sum)

a :  4
b :  2

sum :  2

# Type of tokens

<h2>Punctuators</h2>

<h4>Punctuators are symbols to organize sentence structurr in programing</h4>

# (), {}, [] , # , etc.

<h3>python is Type language</h3>

# [python is Implicit laguage ]
<h4>{variable ka tipe nahi bata na padata he}</h4>

<h3>Note : java is explicit language</h3 color = red;>

<h4>Variable ka type bata na padata he </h4>

<h2>Expression Execution</h2>

<h4>#1 String & Numeric Values can operate together with </h4>

In [48]:
A,B = 2,3
text = "@"
print(2*text*3)

@@@@@@

<h4>#2 String & String can operate With +        ,,concation</h4>

In [59]:
A,B = "2" ,3
Text = "@"
print((A+Text)*B)

2@2@2@

<h4>#3 Numeric values can operata with all arithmetic operators</h4>

In [1]:
A,B = 2,3
C= 4
print(A+B*C)

14

In [3]:
#Note --> + Add. or * mul. ho to pahale * mul. kara ge usa ka bad + add. karaga

<h4>#4 Arithmetic Expression With integer and float will result in float</h4>

In [2]:
A,B = 10,5.0
C = A*B
print(C)

50.0

<h4>#5 Result of divison operator with two integer will be float</h4>

In [4]:
A,B = 1,2
C = A/B
print(C)

0.5

<h4>#6 integer division With float and int will give int displayed as float</h4>

In [10]:
A,B = 1.5,3
C = A//B
print(C)
print(A/B)

0.0
0.5

<h4>#7 floor give closest integer, which is lesser than or equal to the float value Result of (A// B) is same as float as float (A// B)</h4>

In [3]:
A,B = 12,5           # 12 // 5 => (12/5) => 2.4 --> 2  ans
C = A // B
print(C)

2

In [5]:
A,B = -12,5             # -12 // 5 => (-12/5) => -2.4 --> 3  ans
C = A // B
print(C)

-3

In [6]:
A,B = -12,-5             # -12 // -5 => (-12/-5) => 2.4 --> 2  ans
C = A // B
print(C)

2

In [ ]:
#Note --> 0.1 => 0   , 5.2 => 5      , 7.99 => 7     , 11.2 => 11
          15.2 => 15 , -5.2 => -6    , 5.0 => 5      , 2 => 2

           floor(numbers) ---> slosest

<h4>Remaimder is negative when denominator is negative</h4>

In [7]:
A,B = -5,2    #A  = -5  B = 2
C = A % B     # (-5/2)  ==> 1
print(C)

1

In [ ]:
A,B = -5,2    #A =5 , B = 2
C = A % B     # (5/2)  ==> 1
print(C)

In [ ]:
A,B = -5,2      #A =5 , B = -2
C = A % B       # (5/2)  ==> -1
print(C)

In [ ]:
# Note --> +     -       +       -
#          +     -       -       +   
#         -----  ----   ----    -----
#          +      +      -ve     +

<h3># Comments in python</h3>

In [11]:
# single line comments     ==> Ex --> print("Hello")
                                   # print("Hello")
print("Hello")
                                    

""" this is 
    a multi-line
    comments"""

Hello

' this is \n    a multi-line\n    comments'

## input in python

#### input() statement is used to accept values (using keyboard) from user

In [19]:
#String input
name = input("name  : ")


## int input
age = int(input("age   : "))                                    

## float input
price = float(input("price : "))

print("my age is",age ,"year old & my work price : " ,price)

name  :  mann
age   :  22
price :  50000

my age is 22 year old & my work price :  50000.0

In [17]:
#taking input from user & printing it
name = input("name : ")
print(name)

name :  mann

mann

In [18]:
#taking input from user & printing it
age = int(input("age : "))
print(age)

age :  22

22

### Practice Time

##### State true or False

In [ ]:
#1 /* is a Symbol in python for single line comment  
|--> False

#2 2ndName is an invalid identifier in python       
--> True

#3 **is a valid arthmetic operator in python        
--> True

#4 in is logical operator in python                 
-->  False

#5 Variable declaration in implicit in python        
--> True

### Practice Time
##### 6) Consider the givenexpresstion ( not True and False ot True )
##### which of the  following will be correct output if the  given expression is envalueted?
##### (a)True
##### (B)False
##### (c)NONE
##### (d)NULL

In [20]:
# NOt operator False ho to true ka deta he or true ho to false 
# kar deta he 
#NOTE--> NOt   False --> True
#              True  --> False


#NOTE--> Operator  precidennce  ==> not > and > or

## conditional Statements
##### if-elif-else(SYNTAX)

In [1]:
"""if(condition)
    Statement1
elif(condition)
    Statement2
else:
    Statement2
"""

'if(condition)\n    Statement1\nelif(condition)\n    Statement2\nelse:\n    Statement2\n'

In [6]:
# Traffic light code

light = input("light : ")
if(light == "red"):
    print("STOP")
elif(light == "yellow"):
    print("Look")
elif(light == "green"):
    print("Go")
else:
    print("Light is broken")

light :  red

STOP

In [11]:
#Grades of Students
marks = int(input("marks : "))

if(marks >=90 ):
    print("A")
elif(marks >=80 and marks < 90):
    print("B")
elif(marks >=70 and marks < 80):
    print("C")
elif(marks >=40 and marks < 70):
    print("D")
else:
    print("Try next time bro")

marks :  30

Try next time bro

In [40]:
age  = int(input("age : "))
if(age >= 18):
    if(age >= 80):       #nesting
        print("cannot drive")
    else:
        print("can Drive")
else:
    print("cannot drive")

age :  16

cannot drive

## Let's Practice
### WAP to check it a number entered by the user is odd even

In [54]:
num = int(input("Enter number : "))
if(num%2 == 0):
    print("Even number")
else:
    print("Odd number")

Enter the number :  35

Odd number

In [59]:
# WAP tp find greatest of 3 numbers entered by the user.
a = int(input("Enter number1 : "))
b = int(input("Enter number2 : "))
c = int(input("Enter number3 : "))

if(a>=b and a>=c):
    print("first num is largest ", a)
elif(b>=a and b>=c):
    print("second num is largest : ", b)
else:
    print("third num is largest ", c)

Enter number1 :  40
Enter number2 :  60
Enter number3 :  50

second num is largest :  60

In [63]:
#WAP to check if a numbers is a multiple of 7 or not.
num = int(input("Enter number : "))
if(num%7 == 0):
    print("Multiple of 7")
else:
    print("not mulple of 7")

Enter number :  70

Multiple of 7

### Practice Time
##### print output for:
##### A = 5 & G = M
##### A = 2 & G = F

In [12]:
A = int(input("A : "))
G = input("M/F : ")
if(A == 1 or A == 2 and G == "M"):
    print(" fee is 100 ")
elif(A == 2 or A == 3 and G == "F"):
    print(" fee is 200 ")
elif(A == 5 and G == "M"):
    print(" fee is 300 ")
else:
    print("no fee")

A :  1
M/F :  M

 fee is 100

In [14]:
#NOTE-->
# AND                  OR
# T T | T           T T | T
# F T | F           T F | T
# T F | F           F T | T
# F F | F           F F | F

### Conditional Statements
##### Single Line if | Ternary Operator

<var>=<val1>if<condition>else<val2>

In [15]:
#<var>=<val1>if<condition>else<val2>
food = input("food : ")
eat = "Yes" if food == "cake" else "no"
print(eat)

food :  cake

Yes

In [ ]:
<stt1>if<condition>else<stt2>

In [16]:
#<stt1>if<condition>else<stt2>
food = input("food : ")
print("sweet") if food == "cake" or food == "jalebi" else print("not sweet")

food :  jalabi

not sweet

### Conditional Statements
##### Clever if |Ternary Operator

In [ ]:
<var>=(false_val,true_val)[<codition]

In [29]:
age = int(input("age : "))
vote = ("yes","no") [age <= 18]
print(vote)

age :  17

no

In [1]:
sal = float(input("salary : "))
tax = sal*(0.1,0.2) [sal >= 50000]
print(tax)

salary :  40000

4000.0

In [ ]:
### Best Practice
# Simple intruction
-------------------------------------
# One intruction per task
-------------------------------------
# Short & meaningful Varible names
-------------------------------------
# Use appropriate comments
-------------------------------------
# Avoid complex Expressions

### Calculate Simple interest

In [6]:
""" Simple interest formula => (p*r*t)/100
# p = principle
# r = rate
# t = time 
#  Simple interest"""

p = float(input("p : "))
r = float(input("r : "))
t = float(input("t : "))
si = (p*r*t)/100
print(si)

p :  100
r :  20
t :  30

600.0

# comments in Python

In [ ]:
# single line comments

"""
Multi Liune
Comments
"""

#  #Types of Operators
#### An operator is a symbol that performs a certain operation between operands.

#### Arithmetic Operators ( + , - , * , / , % , ** )

#### Relational / Comparison Operators ( == , != , > , < , >= , <= )

#### Assignment Operators ( = , +=, -= , *= , /= , %= , **=  ) 

#### Logical Operators ( not , and , or )

In [8]:
# Arthmetic Operators ( + , - , * , / , % , ** )

a = 5
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) # remainder
print(a ** b) # a^b

7
3
10
2.5
1
25

In [10]:
# Relational/ Comparison   Operators ( == , != , > , < , >= , <= )
a = 5
b = 2

print(a == b)  #False
print(a != b) #True
print(a >= b)  #True
print(a > b)   #True
print(a <= b)  #False
print(a < b)   #False

False
True
True
True
False
False

In [17]:
# Assignment Operators ( = , +=, -= , *= , /= , %= , **=  ) 

num = 10
print("num : ",num)

num += 5
print("num : ",num)

num -= 5
print("num : ",num)

num *= 5
print("num : ",num)

num /= 5
print("num : ",num)

num %= 5
print("num : ",num)

num **= 5
print("num : ",num)

num :  10
num :  15
num :  10
num :  50
num :  10.0
num :  0.0
num :  0.0

In [19]:
# Logical Operators ( not , and , or )
# not
a = 50
b = 30
print(not False)
print(not (a > b))

True
False

In [23]:
# And Operators
val1 = True
val2 = False
print("and Operator : ",val1 and val2)

val1 = False
val2 = True
print("and Operator : ",val1 and val2)

val1 = False
val2 = False
print("and Operator : ",val1 and val2)

val1 = True  
val2 = True
print("and Operator : ",val1 and val2)

and Operator :  False
and Operator :  False
and Operator :  False
and Operator :  True

In [24]:
# or Operators
val1 = True
val2 = False
print("and Operator : ",val1 or val2)

val1 = False
val2 = True
print("and Operator : ",val1 or val2)

val1 = False
val2 = False
print("and Operator : ",val1 or val2)

val1 = True  
val2 = True
print("and Operator : ",val1 or val2)

and Operator :  True
and Operator :  True
and Operator :  False
and Operator :  True

### 1.Let's Practice
###### Write a Program to input 2 numbers & print their sum.

In [31]:
num1 =  int(input("enter num1 : "))
num2 = int(input("enter num2 : "))
sum = num1 + num2

print("sum :: ",sum)

enter num1 :  30
enter num2 :  40

sum ::  70

### 2.Let's Practice
##### WAP to input side of a square & print its area.

In [6]:
side = float(input("enter square side : "))
print("area : ",side**2)

enter square side :  4

area :  16.0

### 3.Let's Practice
##### WAP to input 2 floating point numbers & print their avarage

In [14]:
num1 = float(input("num1 : "))
num2 = float(input("num2 : "))
Avg = (num1 + num2)/2 
print(Avg)

num1 :  16.5
num2 :  3.5

10.0

### 4.Let's Practice
##### WAP to input 2 int numbers ,a and b.
##### Print True if a is great or equal ti b if not print False

In [16]:
a =  int(input("enter num1 : "))
b = int(input("enter num2 : "))

print(a >= b)

enter num1 :  10
enter num2 :  20

False

#                                   Chapter 2
###                      String & Conditional Statements

### Strings
##### String is data type that stores a sequence of characters.

In [18]:

'Basic Operations

* concatenation

    “hello” + “world” ----> "helliworld"

* length of str

    len(str)'

'Basic Operations\n\n* concatenation\n\n    “hello” + “world” ----> "helliworld"\n\n* length of str\n\n    len(str)'

In [54]:
#Ex.
str1 = "Jay" 
str2 = "Shree" 
str3 = "Ram"

#print(str1+str2+str3)

finel_str = str1 + str2 + str3

print(finel_str)

JayShreeRam

### #indexing

####  A p n a _ C o l l e  g  e
#### 0  1 2 3 4 5 6 7 8 9 10 11

In [73]:
"""str = "Apna_College

str[0] is 'A', str[1] is 'p'.....

str[0] = B    #not allowed"""

'str = "Apna_College\n\nstr[0] is \'A\', str[1] is \'p\'.....\n\nstr[0] = B    #not allowed'

In [94]:
Str = "man Bhasariya"
print(Str)
print(str[0])
print(str[5])
print(str[6])
print(str[7])
print(str[9])

man Bhasariya
m
h
a
s
r

## Slicing
#####  Accessing parts of a string

In [ ]:
 str[ starting_idx : ending_idx ] #ending idx is not included

 str = “ApnaCollege”

 str[ 1 : 4 ] is “pna”

 str[  : 4 ] is same as str[ 0 : 4]

 str[ 1 :  ] is same as str[ 1 : len(str) ]

 Apna C

In [95]:
# Ex.
str = "mann Bhasariya"

print(str[0:5])

mann

In [97]:
# Ex
str = "mann Bhasariya"

print(str[0:8])

mann Bha

In [99]:
# Ex
str = "mann Bhasariya"

print(str[:8]) #[0:4]

print(str[4:]) #[5:len(str)]

mann Bha
 Bhasariya

## Slicing
#### Nagative index

In [109]:
#  A  p  p  l  e
# -1 -2 -3 -4 -5

str = "apple"

print(str[-5 : -1]) #is "pl"

appl

In [111]:
str = "mamm Bhasariya"

print(str[-6 : -1])

sariy

## String Functions

<h3> str = “I am a coder.” </h3>
<h3> str.endsWith(“er.“)  #returns true if string ends with substr </h3>

<h3>str.capitalize( )  #capitalizes 1st char  </h3>

<h3> str.replace( old, new )  #replaces all occurrences of old with new </h3>

<h3> str.find( word )  #returns 1st index of 1st occurrence</h3>

<h3> str.count(“am“)  #counts the occurrence of substr in string </h3
>

<h3> str.endsWith(“er.“)  #returns true if string ends with substr </h3>

In [5]:
#str.endswith(“er.“)  #returns true if string ends with substr 

#Ex.1
str = "I am studing python frome Apanacollege"
print(str.endswith("ege"))
print(str.endswith("Apn"))



#Ex.2
str = "My name is mann frome rajasthen i am 22 year old and i learning"
print(str.endswith("ing"))

True
False
True

<h3>str.capitalize( )  #capitalizes 1st char  </h3>

In [11]:
str.capitalize( )  #capitalizes 1st char

#Ex.1
str = "i am studying python frome Apanacollege"
print(str.capitalize( ));
print(str)

str = (str.capitalize( ));
print(str)
print(str)

I am studying python frome apanacollege
i am studying python frome Apanacollege
I am studying python frome apanacollege
I am studying python frome apanacollege

<h3> str.replace( old, new )  #replaces all occurrences of old with new </h3>

In [18]:
str = "i am studying python frome Apanacollege"
print( str.replace( "am", "Am" ))
print( str.replace( "o", "O" ))
print( str.replace( "Aapanacollege", "Sapana College" ))
print( str.replace( "python", "java" ))

i Am studying python frome Apanacollege
i am studying pythOn frOme ApanacOllege
i am studying python frome Apanacollege
i am studying java frome Apanacollege

<h3> str.find( word )  #returns 1st index of 1st occurrence</h3>

In [25]:
str = "i am studying python frome Apana college"
print(str.find("am"))
print(str.find("python"))
print(str.find("Apana"))
print(str.find("s"))
print(str.find("p"))

2
14
27
5
14

<h3> str.count(“am“)  #counts the occurrence of substr in string </h3

In [29]:
str = "i am studying python frome Apana college"
print(str.count("a"))
print(str.count("am"))
print(str.count("l"))
print(str.count("frome"))

3
1
2
1

## Let's Practice
#### 1.WAP to input user's first & print its length.

In [33]:
name = input("name : ")
print("name lenght : ",name," : ",len(name))

name :  mann

name lenght :  mann   :  5

#### 2.WAP to find the occurence of '$' in a String

In [36]:
str = "Hi $ I am $ the $ symbol $99.99"
print(str.count("$"))

4

## #Lists in Python
####  A built-in data type that stores set of values
####  It can store elements of different types (integer, float, string, etc.)

##### marks = [87, 64, 33, 95, 76]      #marks[0], marks[1]..

##### student = [”Karan”, 85, “Delhi”]  #student[0], student[1]..

##### student[0] = “Arjun”              #allowed in python

##### len(student)                       #returns lengt

In [6]:
marks = [65,68,57,47,70,72,90,85,96]
print(marks)
print(marks[4])
print(marks[3])
print(marks[7])
print(type(marks))
print(len(marks))

[65, 68, 57, 47, 70, 72, 90, 85, 96]
70
47
85
<class 'list'>
9

In [19]:
#Ex.
#arry
student = ["mann",95,22,"rajasthan"]
print(student[1])
print(student[0])
print(student[3])
print(student[2])

95
mann
rajasthan
22

In [ ]:
Python
String --> inmutable

list ---> mutable

In [21]:
student = ["mann",95,22,"rajasthan"]

student[0] = "Arjun"

print(student[0])
print(len(student))
#print(student[5])  # galat he kyu ki len to sirf 4 hihe isaliye arrer aayega

Arjun
4

## List Slicing
####  Similar to String Slicing

#####  list_name[ starting_idx : ending_idx ] #ending idx is not included

In [ ]:
 marks = [87, 64, 33, 95, 76]

 marks[ 1 : 4 ] is [64, 33, 95]

 marks[  : 4 ] is same as marks[ 0 : 4]

 marks[ 1 :  ] is same as marks[ 1 : len(marks) ]

 marks[ -3 : -1 ] is [33, 95]

### List Methods

In [ ]:
list = [2, 1, 3]

1 list.append(4)  #adds one element at the end [2, 1, 3, 4]

2 list.sort( )  #sorts in ascending order [1, 2, 3]

3 list.sort( reverse=True )  #sorts in descending order  [3, 2, 1]

4 list.reverse( )  #reverses list [3, 1, 2]

5  list.insert( idx, el )  #insert element at index

In [8]:
# 1 list.append(4)  #adds one element at the end
#Es1
list = [1,3,5,4,8,6,9]
list.append(4)
print(list)

#Ex2.
list2 = [9,7,5,3,9,2,1,0]
list.append(18)
print(list)

[1, 3, 5, 4, 8, 6, 9, 4]
[1, 3, 5, 4, 8, 6, 9, 4, 18]

In [24]:
#2 list.sort( )  #sorts in ascending order
#Es1
list = [1,3,5,4,8,6,9]
list.sort()
print(list)

#Ex2.
list2 = [9,7,5,3,9,2,1,0]
list2.sort()
print(list2)

#Ex3
list3 = ["banana","litch","apple","orange"]
list3.sort()
print(list3)

#Ex4
list4 = ['b', 'e','a','f','h']
list4.sort()
print(list4)

[1, 3, 4, 5, 6, 8, 9]
[0, 1, 2, 3, 5, 7, 9, 9]
['apple', 'banana', 'litch', 'orange']
['a', 'b', 'e', 'f', 'h']

In [26]:
#3 list.sort( reverse=True )  #sorts in descending order

#Es1
list = [1,3,5,4,8,6,9]
list.sort(reverse=True)
print(list)


#Ex4
list4 = ['b', 'e','a','f','h']
list4.sort(reverse=True)
print(list4)


#NOTE = sorting

# ascending order --> 0 1 2 3 4 5 6 7

# descending order -->7 6 5 4 3 2 1 0

[9, 8, 6, 5, 4, 3, 1]
['h', 'f', 'e', 'b', 'a']

In [11]:
#4 list.reverse( )  #reverses list
list = [9,7,5,3,9,2,1,0]
list.reverse()
print(list)

[0, 1, 2, 9, 3, 5, 7, 9]

In [27]:
# 5  list.insert( idx, el )  #insert element at index

#Es1
list = [1,3,5,4,8,6,9]
list.insert(0,11)
print(list)

[11, 1, 3, 5, 4, 8, 6, 9]

## list Method

In [ ]:
list = [2,1,3,5]

 list.remove(1) #removes first coccurrence of element [2,3,1]

 list.pop(idx) #remove element at ind

In [32]:
# list.remove(1) #removes first coccurrence of element [2,3,1]

#Es1
list1 = [1,3,5,4,8,6,9]
list1.remove(3)
print(list1)

list2 = [1,3,5,4,8,6,9]
list2.remove(9)
print(list2)

list3 = [1,3,5,4,8,6,9]
list3.remove(8)
print(list3)

[1, 5, 4, 8, 6, 9]
[1, 3, 5, 4, 8, 6]
[1, 3, 5, 4, 6, 9]

In [35]:
# list.pop(idx) #remove element at ind

#Es1
list1 = [1,3,5,4,8,6,9]
list1.pop(0)
print(list1)

list2 = [1,3,5,4,8,6,9]
list2.pop(4)
print(list2)

list3 = [1,3,5,4,8,6,9]
list3.pop(5)
print(list3)

[3, 5, 4, 8, 6, 9]
[1, 3, 5, 4, 6, 9]
[1, 3, 5, 4, 8, 9]

## Tuples in python
#### A built-in data type that lets us create immutable sequences of values

In [ ]:
tub = (87,64,33,97,88) # tub[0] ,#tub[1]

tub[0] = 43 #Not allowed in python

tub1 = ()

tub2 = (1,)

tub3 = (1,2,3)

In [15]:
# IMP NOTE---------->>>
# List ko aasal ikha jata he Ex--> 
list = ["man","woman","child","tudent"]   
#                           --> list = [3,4,6,5,9,0,1,3]
#                          --> list = [2.3,4.5,7.3,5.9]

#Or Tuple ko aasal ikha jata he Ex--> tuple = (man,woman,child,student)   
#                                 --> tuple = (3,4,6,5,9,0,1,3)
#                                 --> tuple = (2.3,4.5,7.3,5.9)

In [17]:
# imp note---->
# diffrence string , list , tuple
str = "rajasthn"

print(type(str))

list = [4,6,8,1,3,5]
print(type(list))

tuple = (1,2,3,4,5,6,7)
print(type(tuple))

<class 'str'>
<class 'list'>
<class 'tuple'>

In [4]:
tub = (2,5,3,7,6)
print(type(tub))
print(tub[0])
print(tub[4])
#print(tub[5]) #wrong

<class 'tuple'>
2
6

In [1]:
# IMP NOTE-->
# Tuple ka liye single value ka bad , lagana jaru ri he 
# tabhi use Taple mana jayega
# single value ka satha , lagana compulsory he

tub = (22,)
print(tub)
print(type(tub))

tub = (2.0,)
print(tub)
print(type(tub))

tub = ("mann",)
print(tub)
print(type(tub))

tub = ("",)
print(tub)
print(type(tub))


# Tuple ka liye single value ka bad , lagana jaru ri he 
# aagar , nahi lagaya to vo tu tuple nahi mana jayega 
# jasi value hogi vasa hi type mana jayega
# int to int ,float to float ,"str" to "str"

tub = (22)
print(tub)
print(type(tub))

tub = (2.0)
print(tub)
print(type(tub))

tub = ("mann")
print(tub)
print(type(tub))

# single value ka satha' , 'lagana compulsory he
# but valuse 1 sa jayada hone par last ma' , 'lagao ya na lagao koi 
# farak ni padata vo taple hi mana jayega

tuple = (1,2,3,4,5,6,7)
print(type(tuple))


tuple = ("man","woman","child","student")  
print(type(tuple))


tuple = (1.0,4.3,5.8,9.0,4.5)
print(type(tuple))

(22,)
<class 'tuple'>
(2.0,)
<class 'tuple'>
('mann',)
<class 'tuple'>
('',)
<class 'tuple'>
22
<class 'int'>
2.0
<class 'float'>
mann
<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [3]:
tuple = (1,2,3,4,5,6,7)
print(tuple[1:4])

(2, 3, 4)

## Tuple Methods

In [ ]:
tup = (2, 1, 3, 1)
tup.index( el )  #returns index of first occurrence
tup.count( el )  #counts total occurrences 
tup.index(1) is 1
tup.count(1) is 2

In [6]:
 tup = (2, 1, 3, 1,2)
print(tup.index( 2 )) #returns index of first occurrence
 print(tup.count( 2 ))  #counts total occurrences 
print(tup.index( 1 )) #is 1
print(tup.count( 1 )) #is 2

0
2
1
2

In [17]:
#tup.index( el )  #returns index of first occurrence

tuple = (4,5,7,8,6,3,1,8)

print(tuple.index(5))
print(tuple.index(4))
print(tuple.index(6))
print(tuple.index(7))

1
0
4
2

In [18]:
#tup.count( el )  #counts total occurrences 
tuple = (1,3,5,3,7,5,1,9,6,3,7,1,9,0)

print(tuple.count(3))
print(tuple.count(7))
print(tuple.count(9))
print(tuple.count(1))

3
2
2
3

## Let‘s Practice

In [28]:
# WAP to ask user to enter names of thier 3 favorite moveis & store them in a list
mov1  =  (input("mov1 : "))
mov2  =  (input("mov2 : "))
mov3  =  (input("mov3 : "))

list = [mov1,mov2,mov3]
print(type(list))
print(list)

mov1 :  war
mov2 :  tatanic
mov3 :  avatar

<class 'list'>
['war', 'tatanic', 'avatar']

## Let‘s Practice

In [ ]:
 WAP to check if a list contains a palindrome of elements. (Hint: use copy( ) method)
 [1, 2, 3, 2, 1]             [1, “abc”, “abc”, 1]

In [36]:
#Ex.1.........
list1 = [1,2,3,2,1]

list1_copy = list1.copy()
list1_copy.reverse()

if(list1_copy == list1):
    print("EX1>Palindrome")
else:
    print("EX1>Not Palindrome")

# EX.2.......
list2 = [1,2,3,2,1,2]

list2_copy = list2.copy()
list2_copy.reverse()

if(list2_copy == list2):
    print("EX2>Palindrome")
else:
    print("EX2>Not Palindrome")

# EX.3.......
list3 = ["m", "a", "a", "m"]

list3_copy = list3.copy()
list3_copy.reverse()

if(list3_copy == list3):
    print("EX3>Palindrome")
else:
    print("EX3>Not Palindrome")

# EX.4.......
list4 = ["m", "a", "a", "m","n"]

list4_copy = list4.copy()
list4_copy.reverse()

if(list4_copy == list4):
    print("EX3>Palindrome")
else:
    print("EX3>Not Palindrome")

EX1>Palindrome
EX2>Not Palindrome
EX3>Palindrome
EX3>Not Palindrome

## Let‘s Practice

In [43]:
#  WAP to count the number of students with the “A” grade in the following tuple.
# [”C”, “D”, “A”, “A”, “B”, “B”, “A”]
#  Store the above values in a list & sort them from “A” to “D”.

tuple =  ("C", "D", "A", "A", "B", "B", "A")
print(tuple.count("A"))
print(tuple.count("B"))
print(tuple.count("C"))
print(tuple.count("D"))

3
2
1
1

In [48]:
# 1. Store the above values in a list & sort them from “A” to “D”.
grade =  ["C", "D", "A", "A", "B", "B", "A"]
grade.sort()
print(grade)


# 2. Store the above values in a list & sort them from “D” to “A”.
grade =  ["C", "D", "A", "A", "B", "B", "A"]
grade.sort(reverse=True)
print(grade)

['A', 'A', 'A', 'B', 'B', 'C', 'D']
['D', 'C', 'B', 'B', 'A', 'A', 'A']

## Dictionary in Python
#### Dictionaries are used to store data values in key:value pairs
####  They are unordered, mutable(changeable) & don’t allow duplicate keys

In [ ]:
dict = {                                   # "key" : value
#    "key" : value
    
    "name : "shradha",
    "cgpa" : 9.6,
    "marks : [98,97,95],
}

 dict[”name”], dict[”cgpa”], dict[”marks”]
 
 dict[”key”] = “value”   #to assign or add new

In [25]:
# hama ne yaha info name ki 'Dictionary'  banai he jisame diffrent 
# diffrent "key" he jisame keys ki  "value" store he
info = {
     "key"      : "value",
    "name"      : "isha prajapat",
    "learning"  : "coding",
    "subject"   : ["python","C","java"],
    "topics"    : ("dict","set"),
    "age"       : 22,
    "is_adult"  : True,
    "marks"     : 94.4,
    
}


#print # Dictionary -->info  Dictionary
print(info)


# Dictionary ke type ko bhi print kar sakate he aasa
print(type(info))

# Note---> 
#     "key"      : "value",
#     "name"     : "isha prajapat",
#    "learning"  : "coding",


# Note---> yesa likha kar Dictionary me key ke name ko likha kar usa ki value ko 
# dairect hi print kiya sa sakata he  
print(info["name"])
print(info["learning"])
print(info["age"])

{'key': 'value', 'name': 'isha prajapat', 'learning': 'coding', 'subject': ['python', 'C', 'java'], 'topics': ('dict', 'set'), 'age': 22, 'is_adult': True, 'marks': 94.4}
<class 'dict'>
isha prajapat
coding
22
{12: 99, 12.04: 84}
<class 'dict'>
{'name': 'samar'}

In [26]:
#Note--> int or float type ka "key" rarely hi use ki jati he 
infor = {
    12          : 99,
    12.04       : 84,
}
print(infor)
print(type(infor))

{12: 99, 12.04: 84}
<class 'dict'>

In [27]:
#IMP Note---> Dictionary me key ke name same nahi ho sakate he
# Not allowed same name for key in Dictionary same name it's not posible
#Ex-->
students = {
    "name" : "pratap",
    "name" : "taj",
    "name" : "samar",
}

print(students)

{'name': 'samar'}

In [7]:
# hama ne yaha info name ki 'Dictionary'  banai he jisame diffrent 
# diffrent "key" he jisame keys ki  "value" store he
info = {
     "key"      : "value",
    "name"      : "isha prajapat",
    "learning"  : "coding",
    "subject"   : ["python","C","java"],
    "topics"    : ("dict","set"),
    "age"       : 22,
    "is_adult"  : True,
    "marks"     : 94.4,
    
}

#NOTE---> Dictionary me key ma new value assign ki ja sakati he 
#Ex...
info["name"] = "raj" #overwrite #21 #2.0 kasi bhi value int ,float etc. le sakate he
info["subject"] = "c++"
info["age"] = 24

#IMP NOTE--> Dictionary me new "key" : "value" bhi aasani sa add kar sakate he
#Ex-->
info["surName"] = "jain"
info["gender"] = "Mail"

#print # Dictionary -->info  Dictionary
print(info)

{'key': 'value', 'name': '2.0', 'learning': 'coding', 'subject': 'c++', 'topics': ('dict', 'set'), 'age': 24, 'is_adult': True, 'marks': 94.4, 'surName': 'jain', 'gender': 'Mail'}

In [12]:
# empty Dictionary create-->

empty_dict = {}
empty_dict["name"]  = "priya"
empty_dict["age"] = 22

print(empty_dict)

{'name': 'priya', 'age': 22}

## Dictionary in Python
#### Nested Dictionaries

In [ ]:
Student = {
    "name" : "Radha",
    "score" : {
        "chem" : 98,
        "phy"  : 97,
        "math" : 95
    }
}

student[”score”][”math”]

In [1]:
# Nested Dictionaries

student = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

#nested Dictionarie
print(student)
print(student["sub"])
print(student["sub"]["chem"])

{'name': 'isan rajput', 'age': 25, 'sub': {'chem': 88, 'phy': 95, 'math': 90}}
{'chem': 88, 'phy': 95, 'math': 90}
88

##   Dictionary Methods
#### myDict.keys( )  #returns all keys 
#### myDict.values( )  #returns all values 
#### myDict.items( )  #returns all (key, val) pairs as tuples
#### myDict.get( “key““ )  #returns the key according to value 
#### myDict.update( newDict )  #inserts the specified items to the dictionary

### myDict.keys( )  #returns all keys

In [5]:
# myDict.keys( )  #returns all keys 

# Note--> dictionary ki all keys aak satha print karane ke liye---> myDict.keys( ) 
student2 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

print(student2.keys())

#dictionary key --> total numbers of lenght
print(len(student2))

dict_keys(['name', 'age', 'sub'])
3

In [16]:
student3 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

print(student.keys())

# Type casting
print(list(student3.keys()))

# dict. keys list length
print(len(list(student3.keys())))


#type of list
print(type(list(student3.keys())))

dict_keys(['name', 'age', 'sub'])
['name', 'age', 'sub']
3
<class 'list'>

### myDict.values( )  #returns all values

In [2]:
# myDict.values( )  #returns all values
# list ke aandar Dictionary bana deta he ye
stud = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

print(list(stud.values()))

['isan rajput', 25, {'chem': 88, 'phy': 95, 'math': 90}]

### myDict.items( )  #returns all (key, val) pairs as tuples

In [3]:
# myDict.items( )  #returns all (key, val) pairs as tuples

stud1 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

print(list(stud1.items()))

[('name', 'isan rajput'), ('age', 25), ('sub', {'chem': 88, 'phy': 95, 'math': 90})]

### myDict.get( “key““ )  #returns the key according to value

In [18]:
#part (1)
# myDict.get( “key““ )  #returns the key according to value 

stud2 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}
print(stud2.get("sub"))
print(stud2.get("name"))

# IMP NOte--. dictionary ki key ko print kara ne ke bhi 2 diffrent tarike he but

# 1 tarika
print(stud2.get("age"))

# 2 tarika
print(stud2["age"])

# but niche dakha

{'chem': 88, 'phy': 95, 'math': 90}
isan rajput
25
25

In [8]:
#part (2)
# myDict.get( “key““ )                                                          a1#returns the key according to value 
# 1 tarike ma arrer aane par aage jo print
# hone wala he usa ma koi problem nahi aati he so it's best method
stud3 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}
print(stud3.get("sub"))
print(stud3.get("name"))
print(stud3.get("age"))
print(stud3.get("age1"))
print("I am")
print("today")
print("learning")
print("python")
print("from")
print("Aapana college")

{'chem': 88, 'phy': 95, 'math': 90}
isan rajput
25
None
I am
today
learning
python
from
Aapana college

In [16]:
#part (3)
#print(Dict["key"]) 

# 2 tarike ma arrer aane par aage jo 
# print hone wala he usa ma  problem  aati he so it's not good  method
stud4 = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

print(stud4["name"])
#print(stud4["name1"])
print("I am")
print("today")
print("learning")
print("python")
print("from")
print("Aapana college")

isan rajput
I am
today
learning
python
from
Aapana college

### myDict.update( newDict )  #inserts the specified items to the dictionary

In [25]:
# myDict.update( newDict )  #inserts the specified items to the dictionary
stu = {
    "name" : "isan rajput",
    "age"  : 25,
    "sub"  : {
        "chem" : 88,
        "phy" : 95,
        "math" : 90,
     }
}

# new Dictionary banakar use purani Dictionary ma 
# update kar ka add kar sakate he 
#Ex.--> new Dictionary
new_Dict = {
    "city"    : "Delhi",
    "country" : "india",
# purani key ki value bhi chnge(update) kar sakate he 
    "name"    :  "krishana prajapat",
     "age"     : 22
}

# purani Dictionary
stu.update(new_Dict )
print(stu)

# purani key ki value bhi chnge(update) kar sakate he

{'name': 'krishana prajapat', 'age': 22, 'sub': {'chem': 88, 'phy': 95, 'math': 90}, 'city': 'Delhi', 'country': 'india'}

## Set i mpython 
#### Set in the collection o the unordered items.
#### Each element in the must be uniqe & immutable

In [ ]:
nums = {1,2,3,4}

set2 = {1,2,2,2}

# repeated elements stored only once , so it resolved to {1,2}

null_set = set()   # empty set syntax

In [ ]:
## Loops inpython
#### Loops are used to repet instruction.

while Loops


    while codition:
        #some Work

In [ ]:
i = 10
while i < 1:
    print("RAM",i)
    i = i-1